.cards > ul {
    list-style: none;
    margin: 30px 50px;
    padding: 0;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(257px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
    grid-gap: 24px;
}

.cards > ul > li {
    border: 1px solid #dadada;
    /* background-color: var(--background-color); */
    /* background-color: #c1dcb6; */
    background-color: #666666;
    background-image: linear-gradient( black 0%, #666666 100%);
    color: white;
    filter: drop-shadow(black 5px 5px 10px);
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards > ul > li img {
    /* width: 100%; */
    aspect-ratio: 4 / 3;
    object-fit: cover;
    /* object-fit: scale-down; */
}

.cards.members.block > ul > li {
    background-color: #C6DAB0;
    color: white;
    filter: drop-shadow(black 5px 5px 10px);
}

.cards.rentals.block > ul > li {
  background-color: #633923;
  color: white;
  filter: drop-shadow(black 5px 5px 10px);
}

div.cards-card-body p {
    color: #888888;
}

div.cards-card-body h3 {
    color: #ff6634;
    font-size: 1em;
}