.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
  /* padding-bottom: 2rem; */
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.member-collections.block.columns-3-cols {
    margin-left: 50px;
    margin-right: 50px;
  }
  /* .popular-collections img {
    height: 16rem;
    width: 24rem;
  } */
}

/* code to adjust video size on the summit page */
/* .embed > div {
   width: 75rem !important;
  margin-left: -12.4rem;
  resize: both; 
  overflow: auto; 
} */

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
} */

/* Grid container */
/* .grid-container {
  display: grid;
  gap: 5px 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: center; 
  align-content: center;   
  margin: 0 auto;
  max-width: 1200px;
} */

.grid-container {
  --auto-grid-min-size: 16rem;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  grid-gap: 1rem;
  margin-left: 10%;
  margin-right: 10%;
}
/* 
.grid-container {
  --auto-grid-min-size: 16rem;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr)); */
  /* grid-template-columns: 1fr; */
  /* grid-gap: 1rem;
} */ 


/* Grid items styling */
.grid-item {
  /* background-color: #4CAF50; */
  color: white;
  font-size: 20px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  align-self: end;
}

.gallery-button  {
  width: 120px;
    box-sizing: border-box;
    display: inline-block;
    /* max-width: 100%; */
    /* margin: 0.5rem; */
    border: 1px solid black;
    border-radius: 0;
    margin: 2px;
    /* padding: 0.5em 1.2em; */
    font-family: var(--body-font-family);
    font-style: normal;
    font-weight: 500;
    /* line-height: 1.25; */
    font-size: var(--body-font-size-s);
    text-align: center;
    text-decoration: none;
    background-color: var(--link-color);
    color:lightgrey;;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-self: end;

}

#gallery-button-logo {
  background-color: transparent;
  background-image: url('https://techsupport.scene7.com/is/image/ajhcom/WKND-TRVL-travel-license-plate-euro-style?fmt=png-alpha&wid=160');
  background-repeat: no-repeat;
  border: none;
  vertical-align: middle;
  width: 160px;
  color: transparent
  /* object-fit:contain; */
}

#gallery-img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 4px;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.controls {
  /* --auto-grid-min-size: 16rem; */
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr)); */
  grid-template-columns: max-content max-content max-content;
  grid-gap: 0 5px;
  margin-bottom: 50px;
}