.section.full-width.hero-banner-container {
    height: auto;
    margin-bottom: 2rem;
}

.hero-banner .hero-banner-media-section {
    height: 10rem;
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    z-index: 0;
    overflow: hidden;
}

.hero-banner video,
.hero-banner img {
    width: 100%;
    object-fit: cover;
    min-height: 10rem;
}

.hero-banner .hero-banner-heading-section {
    position: relative;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

.hero-banner .hero-banner-heading-container {
    position: relative;
    top: 0;
}

.hero-banner .hero-banner-text-container {
    background: var(--primary);
    color: var(--white);
    min-height: auto;
    padding : 2rem 1rem;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    margin-bottom: 0;
    position: relative;
}

.hero-banner-text-wrapper h6 {
    color: #ffffffb3;
    margin-bottom: 0.75em;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 0.05em;
    font-size: var(--heading-font-size-xxxs);
}

.hero-banner-text-wrapper h2,
.hero-banner-text-wrapper h1 {
    font-weight: var(--font-weight-small);
    font-size: var(--heading-font-size-m);
    line-height: 2rem;
    color: var(--white);
    font-family: var(--body-font-family);
    margin: 0;
}

.hero-banner .hero-banner-button-container span {
    font-size: var(--heading-font-size-xxs);
    margin-left: 0.5rem;
    line-height: 1;
    text-align: center;
    color : #ffffff80;
    width: auto;
}

.hero-banner .hero-banner-button-container a.button.primary {
    background-image: url("../../icons/play.svg");
    height: 3.125rem;
    width: 3.125rem;
    min-width: auto;
    border-radius: 50%;
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-banner .hero-banner-button-container {
    flex-basis: 100%;
    width: 100%;
    justify-content: left;
    align-items: center;
    align-content: center;
    display: inline-flex;
    flex-wrap: wrap;
}

.hero-banner .hero-banner-text-wrapper {
    flex-basis: 100%;
    width: 100%;
    margin-bottom: 1.5rem;
}



@media (min-width: 62rem){
    .section.full-width.hero-banner-container {
        position: relative;
        height: 32rem;
        margin-bottom: 8.625rem;
    }

    .hero-banner .hero-banner-media-section {
        height: 32rem;
        position: absolute;
    }

    .hero-banner video,
    .hero-banner img
    {
        min-height: 100%;
    }

    .hero-banner .hero-banner-heading-section {
        padding-left: 1rem ;
        padding-right: 1rem;
        max-width: 54.5rem;
    }

    .hero-banner .hero-banner-heading-container {
        position: absolute;
        top: 20.5rem;
    }

    .hero-banner .hero-banner-text-container {
        min-height: 16.125rem;
        width: 50rem;
        margin-bottom: -5.125rem;
        flex-wrap: unset;
        padding: unset;

    }

    .hero-banner .hero-banner-text-wrapper {
        flex-basis: calc(100% - 11.625rem);
        margin-bottom: unset;
        width: unset;
    }

    .hero-banner .hero-banner-button-container a.button.primary {
        margin-bottom: 0.5rem;
        height: 5.125rem;
        width: 5.125rem;
    }

    .hero-banner-text-wrapper h6 {
        font-size: var(--heading-font-size-xxs);
    }

    .hero-banner-text-wrapper h2,
    .hero-banner-text-wrapper h1 {
        font-size: 2.25rem;
        line-height: 1.3em;
    }

    .hero-banner .hero-banner-button-container {
        flex-basis: 11.625rem;
        justify-content: center;
        width: unset;
        align-items: unset;
        align-content: unset;
    }

    .hero-banner .hero-banner-button-container span {
        width: 100%;
        font-size: var(--heading-font-size-xxs);
        margin-left: unset;
    }
}

@media (min-width: 48rem) {
    .hero-banner .hero-banner-text-container::before {
        content: "";
        background: var(--primary);
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 100%;
    }
}

@media (min-width: 77rem) {
    .hero-banner .hero-banner-heading-section{
        padding-left: 0;
        padding-right: 0;
        max-width: 75rem;
    }

    .hero-banner .hero-banner-text-container {
        width: 63.75rem;
        margin-bottom: -2rem;
    }
}