/* CSS: styles.css */
.block.hotspot {
    position: relative;
    background: none;
}

.block.hotspot img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.block.hotspot > div.hotspot {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 3px solid var(--white);
    background: var(--secondary);
    position: absolute;
    cursor: pointer;
    background: #02C3DF !important; /* Temporary for visibility */
    z-index: 10; /* Ensure it is above the image */
    filter: drop-shadow(5px 5px 7px black)
}


.block.hotspot img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.block.hotspot video {
    max-width: 100%;
    width: 1000px;
    height: auto;
}

.block.hotspot > div.hotspot .hotspot-content {
    display: none; /* Hidden by default */
    position: absolute;
    top: -10px; /* Adjust positioning as needed */
    left: 50%;
    transform: translateX(-50%);
    /*background: rgba(0, 0, 0, 0.8);*/
    padding: 10px;
    border-radius: 5px;
    z-index: 15;
}

.block.hotspot > div.hotspot.onclick .hotspot-content,
.block.hotspot > div.hotspot:hover .hotspot-content {
    display: block; /* Show on click or hover */
}


.block.hotspot > div.hotspot .hotspot-content img,
.block.hotspot > div.hotspot .hotspot-content video {
    width: 100%;
    height: 100%;
    max-width: unset !important;
}

/* .block.hotspot > div.hotspot .hotspot-content video { */
    /* max-height: 150px;  */
/* } */

/*
.block.hotspot > div.hotspot::after {
    content: attr(data);
    color: rgb(0, 255, 0);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    padding: 15px;
    width: 20vw;
    left: -150%;
    bottom: 150%;
    background: black;
    box-shadow: 0 8px 8px -4px lightgrey;
    font-size: var(--body-font-size-s);
    z-index: +1;
    pointer-events: none;
} */

.block.hotspot > div.hotspot:hover::after,
.block.hotspot > div.hotspot.onclick::after {
    opacity: 1;
}



.section.hotspot-container > .section-container {
    display: flex;
    flex-direction: column;
    margin: auto 1rem;
}


main .embed .embed-default {
    position: relative;
    left: 0;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.hotspot-content iframe {
    width: 37.5rem;
    height: 18.75rem;
}





.section.hotspot-container > .section-container > div:first-of-type {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.block.hotspot svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

@media (min-width: 62rem) {
    .section.hotspot-container > .section-container {
        display: flex;
        flex-direction: row;
        margin: auto;
    }

    .section.hotspot-container > .section-container h1 {
        font-size: var(--h1-font-size-desktop);
        font-weight: var(--font-weight-small);
        margin: 4.375rem 0 2.5rem;
    }
}

.hotspot-wrapper {
    max-width: 2048px; /* matches width of image so that the hotspots can be positioned correctly */
}
