.section.copilot-container {
  padding: unset;
}

.section > .copilot-wrapper {
  max-width: unset;
}

.block.copilot h3,
.block.copilot h6 {
  text-align: center;
  margin: 10px;
}

.block.copilot .content-wrapper {
  display: flex;
  height: 82vh;
}

.block.copilot .chat-container {
  flex: 0 0 300px;
  height: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.block.copilot .chat-container .chat-history {
  height: 90%;
  overflow-y: scroll;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.block.copilot .chat-container .input-container {
  display: flex;
}

.block.copilot .chat-container #message-input {
  flex-grow: 1;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.block.copilot .chat-container #send-button {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  overflow: unset;
}

.block.copilot .preview-container {
  flex: 1;
  height: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block.copilot .preview-container .preview-stage {
  width: 100%;
  height: 95%;
  background-color: #f9f9f9;
  overflow-y: scroll;
}

.block.copilot .preview-container .preview-stage .placeholder-animation {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.pinimg.com/originals/ca/a4/44/caa44463bac0ceaf3e5b5a1a227cdce6.gif');
  background-size: cover;
  background-position: center;
  display: none;
}

.block.copilot .preview-container .preview-stage .placeholder-animation.visible {
  display: flex;
}

.block.copilot .preview-container #copy-button {
  width: 300px;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  overflow: unset;
}