footer,
header {
  display: none;
}

main .section.aem-asset-selector-container {
  padding: 0;
  margin: 0;
}

main .section > div.aem-asset-selector-wrapper {
  padding: 0;
  margin: 0;
  max-width: unset;
}

.action-container {
  position: absolute;
  right: 20px;
  z-index: 1;
}

.action-container > button {
  padding: 10px;
}

#asset-selector {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

main .asset-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 10;
}

main #login {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
