footer {
  padding: 2rem;
  background-color: none;
  font-size: none;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  color: white;
}

/* footer style */
#footer{
  color: white;
  text-decoration: none;
}