/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: #38302d;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: white;
  --link-color: #4e4e4e;;
  --link-hover-color: #ff6633;
  ;

  /* fonts */
  /* --body-font-family: roboto, roboto-fallback, sans-serif; */
  --body-font-family: "Noto Sans Display", roboto-fallback, sans-serif;
  /* --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif; */
  --heading-font-family: "Noto Sans Display", roboto-condensed-fallback,
    sans-serif;

    /* body sizes  - global variables */
    --body-font-size-m: 1.4rem;
    --body-font-size-s: 1.0rem; 
    --body-font-size-xs: 0.75rem;

    /* heading sizes */
    --heading-font-size-xxl: 4rem;
    --heading-font-size-xl: 3rem;
    --heading-font-size-l: 2rem;
    --heading-font-size-m: 1.5rem;
    --heading-font-size-s: 1rem;
    --heading-font-size-xs: 0.75rem;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local("Arial");
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local("Arial");
}
/* 
@media (width >= 900px) {
  :root {
    /* body sizes */
    /* --body-font-size-m: 2.5rem;
    --body-font-size-s: 2rem;
    --body-font-size-xs: 0.75rem; */

    /* heading sizes */
    /* --heading-font-size-xxl: 4rem;
    --heading-font-size-xl: 3rem;
    --heading-font-size-l: 2rem;
    --heading-font-size-m: 1.5rem;
    --heading-font-size-s: 1rem;
    --heading-font-size-xs: 0.75rem; */
  /* } */
/* } */ 

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
  text-align: center;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* margin-top: 0.8em;
  margin-bottom: 0.25em; */
  font-family: var(--heading-font-family);
  font-weight: 800;
  line-height: 1.25;
  scroll-margin: 40px;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: var(--heading-font-size-xxl);
  color: #ff6634;
}

h2 {
  font-size: var(--heading-font-size-xl);
  color: white;
}

h3 {
  font-size: var(--heading-font-size-xl);
  color: black;
}

h4 {
  font-size: var(--heading-font-size-m);
  color: greenyellow;
}
h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
  color: greenyellow;
}

p,
dl,
ol,
ul,
pre,
blockquote p, dl, ol, ul, pre, blockquote {
  font-size: var(--body-font-size-m);
  /* margin-top: 0.8em; */
  /* margin-bottom: 0.25em; */
  color: white;
  /*margin-left: 15%;
  margin-right: 15%;
  text-align: justify; */
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  font-size: var(--body-font-size-m);
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--link-hover-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  /* background-color: var(--link-hover-color); */
  background-color: white;
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  /* max-width: 1200px; */
  margin: auto;
  /* padding: 0 24px; */
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  /* main > .section > div { */
  /* padding: 0 32px; */
  /* } */
}

/* section metadata */
main .section.light,
main .section.highlight {
  /* background-color: var(--light-color); */
  margin: 0;
  /* padding: 40px 0; */
}

.default-content-wrapper {
  color: black;
  background-color: transparent;
  opacity: 0.9;
  /* padding: 4%; */
}
