.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    grid-gap: 24px;
}

.cards > ul > li {
    border: 1px solid #dadada;
    background-color: var(--background-color);
}

.cards .cards-card-body {
    margin: 16px;
}

.cards .cards-card-image {
    line-height: 0;
}

.cards > ul > li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.dynamic {
    background-color: none;
    filter: drop-shadow(black 5px 5px 10px);
}

.dynamic.banner.block {
    height: 200px;
    /* width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    overflow: hidden;
    background-size: inherit;
    background-position: center;
}

.dynamic.map.block {
  height: 400;
  /* width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  overflow: hidden;
  background-size: inherit;
  background-position: center;
}

.dynamic.banner.block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* .dynamic-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
} */
.dynamic.logo.block {
    margin-top: 4%;
}