.summit-pdp {
    width: 85rem;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #f2f2f2;
}

/** Item cashback banner */
.summit-pdp p:nth-child(1) {
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: #ff8b00cc;
    border-radius: 1rem;
    font-weight: bold;
}

/** Item inventory number  */
.summit-pdp p:nth-child(3) {
    color: #999;
    font-size: 69%;
    font-weight: 700;
    text-transform: uppercase;
    margin: 5px 0 20px;
}    

/** Item name */
.summit-pdp p:nth-child(2) {
    font-size: 2.1rem;
}    