/* Basic styles */

* {
  box-sizing: border-box;
}

header {
  text-align: center;
}

.bg-red {
  background-color: #ff5252 !important;
}

.container {
  width: 70vw;
  /* max-width: 70vw; */
  /* margin-right: 5rem;
  margin-left: 5rem; */
}

.main-product-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center; /* Center child horizontally */
  align-items: center; /* Center child vertically */
}
.main-product {
  width: 90%;
  height: 70%;
  margin-bottom: 2rem;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  border-radius: 1rem;
  background-color: #b2b2b2;
  /* margin: 0 5rem 0 5rem; */
}

.product-details {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
  padding: 2rem 2rem 2rem 2rem;
  /* background-color: #565656; */
}

@media (max-width: 768px) {
  .card {
      max-width: 13vw;
  }
  .product-container {
    flex-direction: column; /* Stack items vertically */
    margin: 0 1rem 0 1rem;
  }
  .container {
    width: 100%;
    max-width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }

  .product-details {
    margin-top: 0px; /* Add space between product image and details */
    padding-top: 0px;
  }

  .slider-container {
    border-right: 0px solid #d2d2d2;
    border-bottom: 2px solid #d2d2d2;
  }

  .main-product {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .product-image,
  .product-details {
    flex: 1 1 100%; /* Full width on small screens */
    margin-right: 0; /* Remove margin */
  }

  .product-image {
    margin-bottom: 20px; /* Add space between product image and details */
  }
}

.viwr {
  width: 100%;
  height: 80vh;
}

.buy-button {
  background-color: #4181e2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
